$burger-width: 3rem;
$burger-height: 2px;
$duration: 300ms;


.btn-burger {
  position: fixed;
  top:1.5rem; right: 1.5rem;
  display: flex;
  width: $burger-width;
  height: 1.3rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;

  .pan,
  .carne {
    display: block;
    width: $burger-width;
    height: $burger-height;
    background-color: var(--primary);
    border-radius: $burger-height / 2;
  }

  .pan {
    transition: $duration transform ease-in;
    transform-origin: center;
  }

  .carne {
    transition: $duration ease-in-out;
    transition-property: transform, opacity;
  }

  .input {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }
  @include tablet{
    display: none;
  }
  &.is-active{
    .pan,.carne{
      background-color: var(--secondary);
    }
    .pan:first-child {
      position: relative;
      transform: rotate(45deg) translate(1.1rem,1rem);
    }
  
    .pan:last-child {
      position: relative;
      transform: rotate(-45deg) translate(-0.2rem, .2rem);
    }
  
    .carne {
      opacity: 0;
      transform: scale(0);
    }
  }
}
