.hospitales{
    display: flex;
    justify-content: space-between;
    margin-top:5rem;
    flex-flow: column;

    @include tablet{
        flex-flow: row;
    }
    .hospital{
        @include mobile{
            margin-top:2rem;
        }
        @include tablet{
            width: 30%;
        }
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        border-top-right-radius: 2.5rem;
        padding:2rem;
        transition: background-image 600 ease-in;

        &:hover{
            color:white;
            background-image: linear-gradient(90deg, #00BDB8 0%, #54EFEB 100%);
            transition: background-image 600 ease-in;

            .icon{
                filter: brightness(100);
            }
        }
        h5{
            margin-top:2rem;
            font-weight: bolder;
        }
        p{
            
        }
    }
}