$active-bgcolor: white;
$active-textcolor: var(--primary);
$active-contrast-color: var(--secondary);

$color-text-base: #555555;

.custom-nav{
  width:100vw;
  position: fixed; top:0;
  z-index: 7;
  padding:1rem;
  transition: background-color 1000ms linear;

  @include tablet{
    padding:2.1rem 0;
  }
  &.has-back{
    background-color:rgba(white, 1) ;
    box-shadow: 0 0 5px rgba(black, 0.3);
    transition: background-color 1000ms linear;
  }
  &__container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @include tablet{
      flex-flow: column;
    }
    @include tablet{
      flex-flow: row;
      align-items: center;
      padding:0 1rem;
      margin:auto;
    }

  }
  
}
.custom-nav.is-active{
  height: 100vh;
  @include mobile{
    background: $active-bgcolor;
    background-size: contain;
  }
  
}
.logo{
  flex: 0 1 auto;
  max-width: 15rem;
}
// esto podria estar dentro de .custom-nav pero se recomienda no anidar a mas de tres niveles en sass
.main-nav{
  display: flex;
  flex-flow: column;
  align-items: center;
  position:fixed;
  left:-100vw;
  @include mobile{
    padding-top:2rem;
  }

  @include tablet{
    position: initial;
    flex-flow: row;
    justify-content: flex-end;
  }
  .item{
    color: $color-text-base;
    padding: 0 1rem;
    
  }
  .item-contrast{
    padding: .5rem 1rem;
    margin-top:-0.25rem;
    background-color: $active-contrast-color;
    border-radius: 1rem;
    a{
      color:white;
      
    }
  }
  
}
.main-nav.is-active{
  position: initial;
  left:0;
  margin-top:1rem;
  @include mobile{
    min-height: 90vh;
  }
  
  .item{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $active-textcolor;
  }
  .item-contrast{
    margin-top:0;
    background-color: $active-contrast-color;
    border-radius: .25rem;
    
    text-align:center;
    a{
      color: $active-bgcolor;
      font-size:1.2rem;
    }
  }
}

//el comportamiento del boton de hamburguesa esta en su propia hoja de estilos
