.row{
    display: flex;
    flex-flow: column;
    @include tablet{
        flex-flow:row;
        flex-wrap: wrap;
    }

    &.mb\:flow-reverse{
        @include mobile{
            flex-flow: wrap-reverse;
        }
    }
    &.items-center{
        align-items:center;
    }
    &.justify-center{
        justify-content: center;
    }

            // columns

    .column.half{
        width: 100%;
        @include tablet{
            width:50%;
        }
    }
}