:root {
  --bg-color: theme('colors.blue.100');
  --primary: #3b2729;
  --brand-primary:#ee1144;
  --secondary: #DDDDDD;
  --blue: #429BD2;
  --aqua: #00BDB8;
  font-family: 'Roboto Condensed', sans-serif;
}

.icon-whatsapp {
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  animation: wiggle `infinite 3s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  5% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(20deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.title {
  color: var(--primary);
}
.form-input {
  width: 100%;
}
.main-page {
  display: grid;
  /* grid-template-rows: minmax(35%, 18rem) 1fr; */
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'content'
    'form'
    'video';

  @screen md {
    grid-template-columns: 1fr 50ch;
    grid-template-areas:
      'header header'
      'content form'
      'video form';
  }
}

.the-video {
  grid-area: video;
}

.the-header {
  grid-area: header;
  position: relative;
}

.the-header img {
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

.the-form {
  grid-area: form;
  position: sticky;
  bottom: -90%;
  @apply shadow;
  background: theme('colors.gray.200');

  @screen md {
    bottom: auto;
    top: 0;
    align-self: start;
  }
}

.form-generic {
}

.container {
  max-width: theme('maxWidth.6xl');
}

.the-content {
  grid-area: content;
}

html {
  scroll-behavior: smooth;
}
.footer {
  @apply bg-gray-200 text-center px-12 py-6 font-light text-gray-800 text-xs mt-12;
  background-color: var(--secondary);
  border-radius: 1rem 1rem 0 0;
  color: #222222;
}

.button {
  @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}
.button:hover {
  @apply bg-gray-100;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  @screen md {
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

.column {
}
.content p,
.content ul,
.content ol,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content menu {
  margin-bottom: theme('margin.4');
}

.content h1 {
  @apply text-2xl;
  @screen md {
    @apply text-3xl;
  }
}
.content h2 {
  @apply text-xl;
  @screen md {
    @apply text-2xl;
  }
}
.content h3 {
  @apply text-lg;
  @screen md {
    @apply text-xl;
  }
}
.highlighted{
  color:var(--brand-primary);
  font-size:1.4rem;
  font-weight: bolder;
  text-align: center;
}
.form-generic--alert{
  background: #5B8930;
  color:white;
  
  h1.title{
    color: white !important;
  }
}
ul.bullets{
  list-style-type: disc;
}