<!-- no funcionando en este proyecto wtf? -->

<header class="custom-nav" id="customNav">
    <div class="max-width custom-nav__container">
        <div class="logo">
            <a href="index.html">
                <img class="icono" src="~/assets/images/dr/logo-drobregon.png" alt="Dr. Joirge Obregón" />
            </a>
        </div>

        <nav class="main-nav" id="main-nav">

            <a class="item" href="#acerca">Acerca de mi</a>
            <a class="item" href="#hemorroides">Hemorroides</a>
            <a class="item" href="#sintomas">Síntomas</a>
            
            <div class="item-contrast">
                <a href="#contacto">Contacto</a>
            </div>

        </nav>
        <label for="btn-burger__input" aria-label="Mostrar menú de navegación." title="Mostrar menú de navegación."
            class="btn-burger" id="hamburger">
            <span class="pan"></span>
            <span class="carne"></span>
            <span class="pan"></span>
        </label>
    </div>
</header>