<template>
  <div class="slider-container">
    <span
      class="slider__click slider__click--left"
      aria-label="Imagen anterior"
      @click="prevSlide"
    ></span>
    <span
      class="slider__click slider__click--right"
      aria-label="Siguiente imagen"
      @click="nextSlide"
    ></span>
    <div class="slider" ref="slider">
      <slot> </slot>
    </div>
  </div>
</template>

<script>
import { smoothScroll } from './utils';

export default {
  name: 'SliderScroll',
  data() {
    return {
      totalSlides: 0,
      activeSlide: 0
    };
  },
  watch: {
    activeSlide(i) {
      const slids = this.$refs.slider;
      const scrollLeft = Math.floor(slids.scrollWidth * (i / 4));
      smoothScroll(slids, scrollLeft, true);
    }
  },
  mounted() {
    this.totalSlides = this.$refs.slider.childElementCount;
  },
  methods: {
    prevSlide() {
      if (this.activeSlide <= 0) {
        this.activeSlide = this.totalSlides - 1;
      } else {
        this.activeSlide -= 1;
      }
    },
    nextSlide() {
      if (this.activeSlide >= this.totalSlides - 1) {
        this.activeSlide = 0;
      } else {
        this.activeSlide += 1;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.slider-container {
  position: relative;
}
.slider {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;

  position: relative;
  img {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  &__click {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 2;
    @media (pointer: coarse) {
      display: none;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}

.slider::-webkit-scrollbar {
  display: none;
}
</style>
