:root {
  --bg-color: #FFFFFF;
  --bg-alt: #F9FAFF;
  --primary:#429BD2;
  --primary-darken: #337BA7;
  --secondary: #00BDB8;
  --color-text-base: #555555;
  
}
$color-primary: #429BD2;
$color-primary-darken: #337BA7;

@import 'components/mediaqueries';
@import 'components/btn-burger';
@import 'components/navbar';
@import 'components/rows';

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;500;800&display=swap');
html{
    font-size:10px;
    scroll-behavior: smooth;
    &.no-scroll{
	overflow: hidden;
    }
}
body{
    background-color: var(--bg-color);
    font-family: 'Mukta','Roboto Condensed', sans-serif;
    color: var(--color-text-base);
    font-size:1.8rem;
    padding-top:8rem;
}
h1.title{font-size: 3rem}
h2.title{font-size: 2rem}
@include tablet{
    h1.title{font-size: 4rem}
    h2.title{font-size: 3rem}
}
.bg-alt{background: var(--bg-alt)}
.max-width{
    max-width:1280px;
}
.color-blue{color: var(--primary)}
.color-aqua{color: var(--secondary)}
.header{
    min-height: 5rem;
    align-items: center;
    padding-top:.5rem;
    padding-bottom:.5rem;
    .navigation{
        display: flex;
        justify-content: flex-end;
        flex-grow:1;
        a{
            margin:1rem .5rem;
        }
    }
}


@import 'components/hero-simple';
@import 'components/sintomas';
@import 'components/hospitales';


.title{
    font-weight: bolder;
}
.text-center{align:center}
.tratamientos{
    
    li{
        margin-top:1rem;
    }
    li:before{
        content: "\2666"; 
        color: var(--secondary);
        font-weight: bold; 
        display: inline-block;
        width: 1em; 
        margin-left: 1em; 
        margin-right:1rem;
        
    }
}

section{
    //min-height: 50vh;
    
    padding-top:6rem;
    //padding-top:5rem;
    padding-bottom:6rem;
    // border:1px dashed lime;
}
a.inner-anchor{
    display: block;
    position: relative;
    top: 5rem;
    visibility: hidden;
}
.contacto{
    .form-input {
       width: 100%;
       font-size:1.8rem;
       padding:0.2rem;
       margin-top:1rem;
       margin-bottom:1rem;
    }
}
.bgdark{
    background: $color-primary-darken;
}
.social-networks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .social-network{
        margin: 1rem;
        display: block;
    }
}
footer{
    background: var(--primary);
    color:white;
    .row,.bgdark{
        padding:2rem;
    }
    
}